@model RestaurantListModel
@{
    ViewData["Title"] = "Restaurants";
}

<link rel="stylesheet" href="~/css/restaurant.css"/>
<div class="restaurant-form">
    <form class="border border-1 py-3 px-5 bg-white" asp-controller="Restaurant" asp-action="CreateRestaurant" method="post">
        <div class="row">
            <h2 class="col display-4 text-black">Add restaurant</h2>
            <div class="col d-flex justify-content-end">
                <button type="button" class="btn btn-close my-auto" onclick="closeRestaurantCreationForm()"></button>
            </div>
        </div>
        <div class="row">
            <label for="name" class="col">Name</label>
        </div>
        <div class="form-group row">
            <div class="col">
                <input type="text" id="name" name="Name" placeholder="Name..."/>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
        </div>
    </form>
</div>

<div class="container">
    <div class="row">
        @await Html.PartialAsync("~/Views/Shared/Partial/SearchByName.cshtml", new SearchFieldModel {Controller = "Restaurant"});
        <div class="col d-flex justify-content-end">
            <a class="btn btn-success" onclick="showRestaurantCreationForm()">+ Add restaurant</a>
        </div>
    </div>
    @{
        foreach(var restaurant in Model.Restaurants)
        {
            <div class="container card card-body my-2" id="@restaurant.Id">
                <div class="row">
                    <div class="col-10 d-flex" id="restaurantName">
                        <p class="fs-5 my-auto">@restaurant.Name</p>
                    </div>
                    @await Html.PartialAsync("~/Views/Shared/Partial/CardCRUDElements.cshtml", new CardCRUDElementsModel {Id = restaurant.Id, Controller="Controller"})
                </div>
            </div>
        }
    }
</div>
@await Html.PartialAsync("~/Views/Shared/Partial/Pagination.cshtml", new PaginationModel { PageInfo = Model.PageInfo, Controller = "Restaurant" });

<script>
    showRestaurantCreationForm = () => {
        $(".restaurant-form").addClass("active-form");
        $(".restaurant-form #name").focus();
    }
    closeRestaurantCreationForm = () => $(".restaurant-form").removeClass("active-form");
</script>