@using DeliveryDeck_Backend_Final.Common.Enumerations;
@model UserListModel
@{
    ViewData["Title"] = "Users";
}

<div class="modal fade">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title display-5">Add new user</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            @await Html.PartialAsync("UserCreateForm", new UserCreateModel())
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col d-flex justify-content-end">
            <button class="btn btn-outline-success" type="submit" onclick="showCreateUserDialog()">+ Add user</button>
        </div>
    </div>
    <div id="user-list">
        @await Html.PartialAsync("UserListPartial", Model)
    </div>
</div>
@await Html.PartialAsync("~/Views/Shared/Partial/PaginationAjax.cshtml", new PaginationModel { PageInfo = Model.PageInfo })

@section Scripts {
    <script src="~/js/pagination.js"></script>
    <script>
        showCreateUserDialog = () => $(".modal").modal('show');
        $(".page-link").on("click", function () {
            var url = "@Html.Raw(Url.Action("UsersPage", "User", new { page = "__page__"}))";

            url = url.replace("__page__", $(this).val());

            getPage(url)
                .then(result => {
                    console.log(result);
                    $("#user-list").html(result)
                });
        });

        $(".page-link").first().click();

        $("#addressField").hide();

        $('#roleCustomerCheck').change(function () {
            if (this.checked) {
                $("#addressField").show();
                return;
            }

            $("#addressField").hide();
        });
    </script>
}