@model UserListModel
@{
    ViewData["Title"] = "Users";
}

<div class="container">
    <div class="row">
        @await Html.PartialAsync("~/Views/Shared/Partial/SearchByName.cshtml", new SearchFieldModel {Controller = "User"});
    </div>
    @{
        foreach (var user in Model.Users)
        {
            <div class="container card card-body my-2" id="@user.Id">
                <div class="row">
                    <div class="col-10 d-flex" id="restaurantName">
                        <p class="fs-5 my-auto">@user.Name</p>
                    </div>
                </div>
            </div>
        }
    }
</div>
@await Html.PartialAsync("~/Views/Shared/Partial/Pagination.cshtml", new PaginationModel { PageInfo = Model.PageInfo, Controller = "User" });