@model UserListModel
@{
    ViewData["Title"] = "Users";
}

<div class="container">
    <div class="row">
        <div class="col d-flex justify-content-end">
            <form asp-controller="User" asp-action="Create" method="get">
                <button class="btn btn-outline-success" type="submit">+ Add user</button>
            </form>
        </div>
    </div>
    <div id="user-list">

    </div>
</div>
@await Html.PartialAsync("~/Views/Shared/Partial/PaginationAjax.cshtml", new PaginationModel { PageInfo = Model.PageInfo })

@section Scripts {
    <script src="~/js/pagination.js"></script>
    <script>
        $(".page-link").on("click", function () {
            var url = "@Html.Raw(Url.Action("UsersPage", "User", new { page = "__page__"}))";

            url = url.replace("__page__", $(this).val());

            getPage(url)
                .then(result => {
                    console.log(result);
                    $("#user-list").html(result)
                });
        });

        $(".page-link").first().click();
    </script>
}