@{
    ViewData["Title"] = "Home";
}

<link rel="stylesheet" href="~/css/home.css"/>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>
<div class="row">
    <div class="col d-flex" style="height: 80px">
        <a class="fs-4 fw-light w-25 btn me-1 ms-auto text-center my-auto" asp-controller="Restaurant">Manage restaurants</a>
        <a class="fs-4 fw-light w-25 btn ms-2 me-auto text-center my-auto" asp-controller="User">Manage users</a>
    </div>
</div>
