@{
    ViewData["Title"] = "Auth";
}
@model LoginModel
<div class="container bg-white p-2">
    <form asp-controller="Account" asp-action="Login">
        <div class="form-group row m-2">
            <div class="col">
                <label asp-for="Email" class="fs-5 me-2">Email</label>
                <input asp-for="Email" type="email" />
                <p><span asp-validation-for="Email" class="text-danger"></span></p>
            </div>
        </div>
        <div class="form-group row m-2">
            <div class="col">
                <label asp-for="Password" class="fs-5 me-2">Password</label>
                <input asp-for="Password" type="password" />
                <p><span asp-validation-for="Password" class="text-danger"></span></p>
            </div>
        </div>
        <div class="row m-2">
            <div class="col d-flex">
                <div class="me-auto">
                    <button type="submit" class="btn btn-primary">Login</button>
                </div>
            </div>
        </div>
    </form>
</div>
